{% load static %}

<section aria-label="Header" class="hero-header">
  <header class="header-layout">
    <a href="/" aria-label="Go to homepage">
      <img id="logoImage" alt="PennywAise logo" class="h-12 w-auto mr-2" />
    </a>
    <ul class="header-nav">
      <li>
        <a
          href="#about"
          class="nav-link text-white hover:text-[#8E8178] transition px-2 pb-1"
          aria-current="page"
        >
          About
        </a>
      </li>
      <li>
        <a
          href="#features"
          class="nav-link text-white hover:text-[#8E8178] transition px-2 pb-1"
        >
          Features
        </a>
      </li>
      <li>
        <a
          href="#contact"
          class="nav-link text-white hover:text-[#8E8178] transition px-2 pb-1"
        >
          Contact
        </a>
      </li>
    </ul>
    <section class="flex items-center space-x-4">
      {% if user.is_authenticated %}
        <span class="user-authenticated text-white">Welcome back, {{ user.first_name|default:user.username }}!</span>
        <form
            method="post"
            action="{% url 'logout' %}"
            class=""
            role="none"
          >
            {% csrf_token %}
            <button type="submit" role="menuitem" class="button-darksm">
              Logout
            </button>
          </form>
      {% else %}
        <a href="{% url 'budget:auth' %}" class="button-darksm">
          Login
        </a>
      {% endif %}
    </section>
  </header>
</section>
